In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn import linear_model
from sqlalchemy import create_engine
import psycopg2

In [2]:
# import data from PGSQL
engine=create_engine('postgresql://all_user:GTroom222@mydatabase.cvvbordirasf.us-east-1.rds.amazonaws.com:5432/capstone')

table_names=engine.table_names()
print (table_names)

['team_member', 'candidate_summary_join', 'census_bus_employee', 'census_social_0617', 'committee_linkage_join', 'master_join', 'master_join1', 'fec_summary', 'fec_operating_expenditure', 'cq_race', 'cq_candidates_race', 'fec_committee', 'fec_candidate', 'test_join', 'investigate', 'cross_walk', 'fec_candidate_committee_linkage', 'fec_individual_contribution', 'cq_race_incumbent', 'fec_committee_to_candidate_contribution', 'fec_committee_to_committee_contribution', 'fec_committee_2012', 'fec_table_join', 'test_join_win', 'candidate_join', 'fec_join', 'individual_contribution_join']

In [3]:
con=engine.connect()
rs1=con.execute('SELECT * FROM master_join1')

master_join1 = pd.DataFrame(rs1.fetchall())
df = pd.DataFrame(master_join1)
master_join1.columns = rs1.keys()

con.close()

In [4]:
master_join1.head(5)

,race_uid,state,year,districtnumber,redistricteddate,totalvote,winingplurality,winningparty,incumbentwin,race_uid2,...,other_loans,cand_loan_repay,other_loan_repay,debts_owed_by,ttl_indiv_contrib,other_pol_cmte_contrib,pol_pty_contrib,cvg_end_dt,indiv_refunds,cmte_refunds
0,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,0,624494.86,374040.13,477.2,12/31/2012,3900,1000
1,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,140,0,300,11/19/2014,0,0
2,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,13000,13818,1000,0,12/31/2012,0,0
3,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,None,None,None,None,None,None,None,None,None,None
4,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,461857.82,289540.14,0,12/31/2014,6450,400

In [5]:
# find and remove duplicate rows
master_join1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2103 entries, 0 to 2102
Columns: 284 entries, race_uid to cmte_refunds
dtypes: float64(3), int64(1), object(280)
memory usage: 4.6+ MB

In [6]:
master_join1.shape

(2103, 284)

In [7]:
master_join1.race_uid.duplicated().sum()

1233

In [8]:
master_join1.duplicated().sum()

0

In [9]:
# drop duplicate columns
master_join1.drop(['state','year','districtnumber','redistricteddate','candidatename','sexandage2','sexandage3','sexandage4','sexandage5','sexandage6','sexandage7','sexandage8','sexandage9','sexandage10','sexandage11','sexandage12','sexandage13','sexandage14','sexandage15','sexandage16','sexandage17','sexandage18','sexandage19','hispanicorlatinoandrace1','hispanicorlatinoandrace2','hispanicorlatinoandrace3','hispanicorlatinoandrace4','hispanicorlatinoandrace5','hispanicorlatinoandrace6','hispanicorlatinoandrace7','placeofbirth1','placeofbirth2','placeofbirth3','placeofbirth4','placeofbirth5','placeofbirth6','placeofbirth7',], axis=1, inplace=True)

In [10]:
master_join1.head()

,race_uid,totalvote,winingplurality,winningparty,incumbentwin,race_uid2,incumbentstatus,candidateparty,votenumberreceived,voteproportionreceived,...,other_loans,cand_loan_repay,other_loan_repay,debts_owed_by,ttl_indiv_contrib,other_pol_cmte_contrib,pol_pty_contrib,cvg_end_dt,indiv_refunds,cmte_refunds
0,2012AKLarge,289804,102369,R,Yes,2012AKLarge,Y,R,185296.0,63.94,...,0,0,0,0,624494.86,374040.13,477.2,12/31/2012,3900,1000
1,2014AKLarge,279741,27970,R,Yes,2014AKLarge,N,Libertarian,21290.0,7.61,...,0,0,0,0,140,0,300,11/19/2014,0,0
2,2012AKLarge,289804,102369,R,Yes,2012AKLarge,N,D,82927.0,28.61,...,0,0,0,13000,13818,1000,0,12/31/2012,0,0
3,2012AKLarge,289804,102369,R,Yes,2012AKLarge,N,Libertarian,15028.0,5.19,...,None,None,None,None,None,None,None,None,None,None
4,2014AKLarge,279741,27970,R,Yes,2014AKLarge,Y,R,142572.0,50.97,...,0,0,0,0,461857.82,289540.14,0,12/31/2014,6450,400

In [11]:
# need drop more columns
master_join1.drop(['ancestry1','ancestry2','ancestry3','ancestry4','ancestry5','ancestry6','ancestry7','ancestry8','ancestry9','ancestry10','ancestry11','ancestry12','ancestry13','ancestry14','ancestry15','ancestry16','ancestry17','ancestry18','ancestry19','ancestry20','ancestry21','ancestry22','ancestry23','ancestry24','ancestry25','ancestry26','ancestry27','ancestry28','disabilitystatusoftheciviliannoninstitutionalizedpopulation1','disabilitystatusoftheciviliannoninstitutionalizedpopulation2','disabilitystatusoftheciviliannoninstitutionalizedpopulation3','disabilitystatusoftheciviliannoninstitutionalizedpopulation4','disabilitystatusoftheciviliannoninstitutionalizedpopulation5','disabilitystatusoftheciviliannoninstitutionalizedpopulation6','disabilitystatusoftheciviliannoninstitutionalizedpopulation7','disabilitystatusoftheciviliannoninstitutionalizedpopulation8','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago1','residence1yearago2','residence1yearago3','residence1yearago4','residence1yearago5','residence1yearago6','residence1yearago7','residence1yearago8'], axis=1, inplace=True)

In [12]:
master_join1.head()

,race_uid,totalvote,winingplurality,winningparty,incumbentwin,race_uid2,incumbentstatus,candidateparty,votenumberreceived,voteproportionreceived,...,other_loans,cand_loan_repay,other_loan_repay,debts_owed_by,ttl_indiv_contrib,other_pol_cmte_contrib,pol_pty_contrib,cvg_end_dt,indiv_refunds,cmte_refunds
0,2012AKLarge,289804,102369,R,Yes,2012AKLarge,Y,R,185296.0,63.94,...,0,0,0,0,624494.86,374040.13,477.2,12/31/2012,3900,1000
1,2014AKLarge,279741,27970,R,Yes,2014AKLarge,N,Libertarian,21290.0,7.61,...,0,0,0,0,140,0,300,11/19/2014,0,0
2,2012AKLarge,289804,102369,R,Yes,2012AKLarge,N,D,82927.0,28.61,...,0,0,0,13000,13818,1000,0,12/31/2012,0,0
3,2012AKLarge,289804,102369,R,Yes,2012AKLarge,N,Libertarian,15028.0,5.19,...,None,None,None,None,None,None,None,None,None,None
4,2014AKLarge,279741,27970,R,Yes,2014AKLarge,Y,R,142572.0,50.97,...,0,0,0,0,461857.82,289540.14,0,12/31/2014,6450,400